<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>About the Pest</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- Background Information Area -->


<!-- Start Text Area -->
<div class="team_area" style="height: 450px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3 class="text-heading">What are pests?</h3>
                </div>
            </div>
        </div>

        <div>
            <p class="sample-text" style="font-size:20px">
                Pests are invasive species that are a key threat to the native biodiversity and agriculture in Victoria. Many exotic species were introduced for numerous reasons during the colonisation of Australia.
                Since 1770, more than 3,000 non-native species have arrived. Many of them have existed in Australia for more than a century and have established populations across much of the country. Now, the movement
                of non-native species has accelerated due to globalization. The country is under constant threat from new invasive species, foreign species come into country through ships, planes, trains, cars and even
                people's luggage. Invasive species are one of the most serious environmental problem for Victoria government. The main invasive pests that exists in Victoria will be shown below.
            </p>
        </div>
    </div>
</div>
<!-- End Text Area -->

<!-- Introduction_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>Introduction</h3>
                    <h5>Four main pests in Victoria now: </h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/hourse2.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Equus Caballus</h3>
                        <p id="01">


                        </p><br>
                        <button class="boxed-btn3" type="button" onclick="displayMore1()">Read More</button>
                        <script>
                            function displayMore1() {
                                document.getElementById("01").innerHTML = "Australia has an estimated 400 000 feral horses mainly in central and northern Australia. Feral horses cause erosion, spread weeds and compete for pasture with native animals and livestock. ";
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/cat1.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Felis Catus</h3>
                        <p id="02">


                        </p><br>
                        <button class="boxed-btn3" type="button" onclick="displayMore2()">Read More</button>
                        <script>
                            function displayMore2() {
                                document.getElementById("02").innerHTML = "Cats are solitary hunters that feed on small mammals, birds, reptiles and invertebrates. They are often kept as domesticated pets but also occur wild in Australia as feral animals. ";
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/fox2.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Vulpes Vulpes</h3>
                        <p id="03">


                        </p><br>
                        <button class="boxed-btn3" type="button" onclick="displayMore3()">Read More</button>
                        <script>
                            function displayMore3() {
                                document.getElementById("03").innerHTML = "Red Foxes hunt rabbits and native animals, and also feed on insects and fruits. Their urine has a distinctive smell.";
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/rabbit2.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Oryctolagus Cuniculus</h3>
                        <p id="04">


                        </p><br>
                        <button class="boxed-btn3" type="button" onclick="displayMore4()">Read More</button>
                        <script>
                            function displayMore4() {
                                document.getElementById("04").innerHTML = "The feral European rabbit is one of the most widely distributed and abundant mammals in Australia. It causes severe damage to the natural environment and to agriculture.";
                            }
                        </script>
                        <script>
                            $(document).ready(function () {
                                $("button").click(function () {
                                    $(this).hide();
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Introduction_area_end  -->
