<!-- Introduction Page of all the species -->
<!-- Header & Navigation bar  -->
<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>About the Pest</h3>
            </div>
        </div>
    </div>
</div>
<!-- Header & Navigation bar End -->
<!-- Background Information Area -->
<!-- Introduction_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>Introduction</h3>
                    <h5>Main pests in Victoria now: </h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <figure class="snip0016">
                            <img src="~/img/about/AsianToad.jpg" alt="">
                            <figcaption>
                                <h2 style="color:white">Duttaphrynus melanostictu</h2><br>
                                <p style="color:white">
                                    The Asian toad is not native to Australia and if given the opportunity could establish in the cooler parts of Australia including Victoria. If it became established it could compete with native frogs and toads for food and suitable habitat. As a species entering from overseas it also has the potential to carry exotic parasites and diseases.<br>
                                    Asian toad is also poisonous, has a generalist diet and is well adapted for life in urban.
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="member_info text-center">
                        <h3>Asian Toad</h3>
                        <p id="03">

                        </p><br>
                        <a href="~/Home/AsianToad" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <figure class="snip0016">
                            <img src="~/img/about/Snake.jpg" alt="">
                            <figcaption>
                                <h2 style="color:white">Boa <br>constrictor</h2><br>
                                <p style="color:white">Boa constrictor is considered to be one of the world’s largest snake species with an average length of around 3m. The boa constrictor is introduced to Australia and if given the opportunity could populate a wide range of landscapes within Victoria, impacting on native species through predation and potentially introducing new animal disease</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="member_info text-center">
                        <h3>Boa Constrictor</h3>
                        <p id="03">

                        </p><br>
                        <a href="~/Home/BoaConstrictor" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <figure class="snip0016">
                            <img src="~/img/about/CanadaGoose.jpg" alt="">
                            <figcaption>
                                <h2 style="color:white">Branta <br>canadensis</h2><br>
                                <p style="color:white">The Canada goose is not native to Australia, but it is kept here as an exotic waterfowl species.and has recently been found in the wild in two states. It poses an extreme threat to Australia with significant potential to establish wild populations.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="member_info text-center">
                        <h3>Canada Goose</h3>
                        <p id="03">

                        </p><br>
                        <a href="~/Home/CanadaGoose" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <figure class="snip0016">
                            <img src="~/img/about/CaneToad.jpg" alt="">
                            <figcaption>
                                <h2 style="color:white">Rhinella <br> marinus</h2><br>
                                <p style="color:white">Cane toads were released to help control beetles that were damaging sugar cane crops. However they quickly became pests, and later migrated rapidly poisoning native species.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="member_info text-center">
                        <h3>Cane Toad</h3>
                        <p id="03">

                        </p><br>
                        <a href="~/Home/CaneToad" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <figure class="snip0016">
                            <img src="~/img/about/WildCat.jpg">
                            <figcaption>
                                <h2 style="color:white">Felis <br>catus</h2><br>
                                <p style="color:white"> Feral cats are similar to domesticated cats. The key difference is that feral cats live in the wild and survive by hunting or scavenging. <br> They have little or even no contact and interaction with human beings and cannot be tamed. </p>
                                <a href="~/Home//about/Cat"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="member_info text-center">
                        <h3>Feral Cat</h3>
                        <p id="02">

                        </p><br>
                        <a href="~/Home/Cat" class="boxed-btn3">Know More</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <figure class="snip0016">
                            <img src="~/img/about/WildPig.jpg" alt="">
                            <figcaption>
                                <h2 style="color:white">Sus <br>scrofa</h2><br>
                                <p style="color:white">Pigs were brought from Europe to Australia by the First Fleet in 1788. They were imported as livestock. However, pigs soon escaped and established wild populations that have expanded over time. Feral pigs are a serious environmental and agricultural pest across Australia. They are found in all states and territories, particularly around wetlands and river systems.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="member_info text-center">
                        <h3>Feral Pig</h3>
                        <p id="03">

                        </p><br>
                        <a href="~/Home/Pig" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <figure class="snip0016">
                            <img src="~/img/about/Rabbit.jpg" alt="">
                            <figcaption>
                                <h2 style="color:white">Oryctolagus<br> Curiculus</h2><br>
                                <p style="color:white"> The European rabbit is one of the most widely distributed and abundant pest in Australia. It causes servere damage to the natural environment and to agriculture.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="member_info text-center">
                        <h3>Rabbit</h3>
                        <p id="04">

                        </p><br>
                        <a href="~/Home/Rabbit" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <figure class="snip0016">
                            <img src="~/img/about/RedFox.jpg" alt="">
                            <figcaption>
                                <h2 style="color:white">Vulpes<br> Vulpes</h2><br>
                                <p style="color:white">
                                    Red Foxes hunt rabbits and native animals.<br>They also feed on insects and fruits.<br>
                                    They adapt well to human environments such as farms, suburban areas, and even large communities.
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="member_info text-center">
                        <h3>Red Fox</h3>
                        <p id="03">

                        </p><br>
                        <a href="~/Home/Fox" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Introduction_area_end  -->
<!-- CSS code start-->
<style>

    figure.snip0016 {
        position: relative;
        overflow: hidden;
        margin: 10px;
        width: 100%;
        background: #000000;
        text-align: left;
        background: #eb592d;
    }

        figure.snip0016 * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        figure.snip0016 img {
            max-width: 100%;
            opacity: 1;
            width: 100%;
            -webkit-transition: opacity 0.35s;
            transition: opacity 0.35s;
        }

        figure.snip0016 figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 30px 3em;
            width: 100%;
            height: 100%;
        }

            figure.snip0016 figcaption::before {
                position: absolute;
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 100%;
                border-left: 4px solid rgba(255, 255, 255, 0.8);
                content: '';
                opacity: 0;
                background-color: rgba(255, 255, 255, 0.5);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                -webkit-transition-delay: 0.6s;
                transition-delay: 0.6s;
            }

        figure.snip0016 h2,
        figure.snip0016 p {
            margin: 0 0 5px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
        }

        figure.snip0016 h2 {
            word-spacing: -0.15em;
            font-weight: 300;
            text-transform: uppercase;
            -webkit-transform: translate3d(30%, 0%, 0);
            transform: translate3d(30%, 0%, 0);
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }

            figure.snip0016 h2 span {
                font-weight: 800;
            }

        figure.snip0016 p {
            font-weight: 200;
            -webkit-transform: translate3d(0%, 30%, 0);
            transform: translate3d(0%, 30%, 0);
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            font-weight: 400;
        }

        figure.snip0016 a {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            color: #ffffff;
        }

        figure.snip0016:hover img {
            opacity: 0.1;
        }

        figure.snip0016:hover figcaption h2 {
            opacity: 1;
            -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
        }

        figure.snip0016:hover figcaption p {
            opacity: 0.9;
            -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
            -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
        }

        figure.snip0016:hover figcaption::before {
            background: rgba(255, 255, 255, 0);
            left: 30px;
            opacity: 1;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }
</style>
<!-- CSS code End-->