<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>About the Pest</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- Background Information Area -->


<!-- Start Text Area -->
<div class="team_area" style="height: 350px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3 class="text-heading">What are pests?</h3>
                </div>
            </div>
        </div>

        <div>
            <p class="sample-text" style="font-size:20px">
                Pests are invasive species that are a key threat to the native biodiversity and agriculture in Victoria. Many exotic species were introduced for numerous reasons during the colonisation of Australia.
                Since 1770, more than 3,000 non-native species have arrived. Many of them have existed in Australia for more than a century and have established populations across much of the country. Now, the movement
                of non-native species has accelerated due to globalization. The country is under constant threat from new invasive species, foreign species come into country through ships, planes, trains, cars and even
                people's luggage. Invasive species are one of the most serious environmental problem for Victoria government. The main invasive pests that exists in Victoria will be shown below.
            </p>
        </div>
    </div>
</div>
<!-- End Text Area -->

<!-- Introduction_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>Introduction</h3>
                    <h5>Four main pests in Victoria now: </h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                        <div class="team_thumb">
                            <figure class="snip0016">
                                <img src="~/img/about/FeralCat.jpg">
                                <figcaption>
                                    <h2 style="color:white">Test</h2>
                                    <p style="color:white"> Test test test</p>
                                    <a href="~/Home/Cat"></a>
                                </figcaption>
                            </figure>
                        </div>
                    <div class="member_info text-center">
                        <h3>Wild Cat</h3>
                        <p id="02">
                            Cats are solitary hunters that feed on small mammals, birds, reptiles and invertebrates.
                            They are often kept as domesticated pets but also occur wild in Australia as feral animals.
                        </p><br>
                        <a href="~/Home/Cat" class="boxed-btn3">Know More</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/about/RedFox.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Red Fox</h3>
                        <p id="03">
                            Red Foxes hunt rabbits and native animals, and also feed on insects and fruits.
                            They also adapt well to human environments such as farms, suburban areas,
                            and even large communities.

                        </p><br>
                        <a href="~/Home/Fox" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/about/Rabbit.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Rabbit</h3>
                        <p id="04">
                            The feral European rabbit is one of the most widely distributed and abundant mammals in Australia.
                            It causes severe damage to the natural environment and to agriculture.

                        </p><br>
                        @*<button class="boxed-btn3" type="button" onclick="displayMore4()">Read More</button>
                    <script>
                        function displayMore4() {
                            document.getElementById("04").innerHTML = "The feral European rabbit is one of the most widely distributed and abundant mammals in Australia. It causes severe damage to the natural environment and to agriculture.";
                        }
                    </script>*@
                        <a href="~/Home/Rabbit" class="boxed-btn3">Know More</a>
                        @*<script>
                        $(document).ready(function () {
                            $("button").click(function () {
                                $(this).hide();
                            });
                        });
                    </script>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/about/Pig.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Wild Pig</h3>
                        <p id="03">
                            text

                        </p><br>
                        <a href="~/Home/Pig" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/about/CanadaGoose.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Canada Goose</h3>
                        <p id="03">
                            text.

                        </p><br>
                        <a href="~/Home/CanadaGoose" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/about/CaneToad.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Cane Toad</h3>
                        <p id="03">
                            text.

                        </p><br>
                        <a href="~/Home/CaneToad" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/about/AsianToad.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Asian Toad</h3>
                        <p id="03">
                            text.

                        </p><br>
                        <a href="~/Home/AsianToad" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/about/Snake.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Boa Constrictor</h3>
                        <p id="03">
                            text

                        </p><br>
                        <a href="~/Home/BoaConstrictor" class="boxed-btn3">Know More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Introduction_area_end  -->

<style>

    figure.snip0016 {
        position: relative;
        overflow: hidden;
        margin: 10px;
        width: 100%;
        background: #000000;
        text-align: left;
    }

figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016 h2,
figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0016 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0016 h2 span {
  font-weight: 800;
}
figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0016:hover img {
  opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
</style>