<!-- Java Script Part -->
@section scripts{

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/topojson.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/datamaps.world.min.js"></script>
    <script type="text/javascript">
        var Popup = {
            Show: function (geography, data, element, e) {
                e.stopPropagation();

                var el =
                    '<div class="popup-card"> \<span class="country">' + geography.properties.name + '</span>\ </div>';

                var $el = $(el).css({
                    top: e.pageY - 10,
                    left: e.pageX
                });

                Popup.Hide();
                $('body').append($el);
            },

            Hide: function () {
                $('body .popup-card').remove();
            }
        };

        var dataMap = new Datamap({
            element: document.getElementById('map'),
            scope: 'world',
            projection: 'mercator',
            geographyConfig: {
                highlightBorderColor: '#fff',
                highlightBorderWidth: 1,
                highlightFillColor: '#f75455',
                popupOnHover: false
            },

            fills: {
                defaultFill: '#eff0f2',
                gt: '#ed1f24'
            },
            data: {
                ARG: { fillKey: 'gt' },
                BOL: { fillKey: 'gt' },
                BRA: { fillKey: 'gt' },
                CHL: { fillKey: 'gt' },
                COL: { fillKey: 'gt' },
                ECU: { fillKey: 'gt' },
                GUY: { fillKey: 'gt' },
                PAN: { fillKey: 'gt' },
                PRY: { fillKey: 'gt' },
                PER: { fillKey: 'gt' },
                SUR: { fillKey: 'gt' },
                TTO: { fillKey: 'gt' },
                URY: { fillKey: 'gt' },
                VEN: { fillKey: 'gt' },
                ATG: { fillKey: 'gt' },
                BHS: { fillKey: 'gt' },
                BRB: { fillKey: 'gt' },
                BLZ: { fillKey: 'gt' },
                CAN: { fillKey: 'gt' },
                CRI: { fillKey: 'gt' },
                CUB: { fillKey: 'gt' },
                DMA: { fillKey: 'gt' },
                DOM: { fillKey: 'gt' },
                SLV: { fillKey: 'gt' },
                GRD: { fillKey: 'gt' },
                GTM: { fillKey: 'gt' },
                HTI: { fillKey: 'gt' },
                HND: { fillKey: 'gt' },
                JAM: { fillKey: 'gt' },
                MEX: { fillKey: 'gt' },
                NIC: { fillKey: 'gt' },
                PAN: { fillKey: 'gt' },
                KNA: { fillKey: 'gt' },
                LCA: { fillKey: 'gt' },
                TTO: { fillKey: 'gt' },
                USA: { fillKey: 'gt' }
            },

            done: function (datamap) {
                datamap.svg.selectAll('.datamaps-subunit').on('mouseover', function (geography) {
                    Popup.Show(geography, datamap.options.data[geography.id], this, d3.event);
                });
            }
        });

        $('body').on('mouseover', function (e) {
            Popup.Hide();
        })
            .on('mouseover', '.datamaps-subunit,.popup-card', function (e) {
                e.stopPropagation();
            });

        function sayItOutLoud() {
            const message = 'Boa Constrictor';
            var speech = new SpeechSynthesisUtterance();
            speech.lang = "en-US";
            speech.text = message;
            speech.volume = 1;
            speech.rate = 1;
            speech.pitch = 1;

            window.speechSynthesis.speak(speech);
        }

    </script>

    <script>
        $(document).ready(function () {
            slide("#move-navigation", 35, 20, 150, 1);
        });

        function slide(navigation_id, pad_out, pad_in, time, multiplier) {
            // creates the target paths
            var list_elements = navigation_id + " li.move-element";
            var link_elements = list_elements + " a";

            // initiates the timer used for the move animation
            var timer = 0;

            // creates the slide animation for all list elements
            $(list_elements).each(function (i) {
                // margin left = - ([width of element] + [total vertical padding of element])
                $(this).css("margin-left", "-180px");
                // updates timer
                timer = (timer * multiplier + time);
                $(this).animate({ marginLeft: "0" }, timer);
                $(this).animate({ marginLeft: "15px" }, timer);
                $(this).animate({ marginLeft: "0" }, timer);
            });

            // creates the hover-slide effect for all link elements
            $(link_elements).each(function (i) {
                $(this).hover(function () {
                    $(this).stop().animate({ paddingLeft: pad_out }, 150);
                }, function () {
                    $(this).stop().animate({ paddingLeft: pad_in }, 150);
                });
            });
        }
    </script>

    <script>
        //Make sure the user has scrolled at least double the height of the browser
        var toggleHeight = $(window).outerHeight() * 0.8;

        $(window).scroll(function () {
            if ($(window).scrollTop() > toggleHeight) {
                //Adds active class to make button visible
                $(".m-backtotop").addClass("active");


            } else {
                //Removes active class to make button visible
                $(".m-backtotop").removeClass("active");

            }
        });

        //Scrolls the user to the top of the page again
        $(".m-backtotop").click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    </script>

}


<!-- Header&Footer_area_start, Don't change it. -->
<div class="bradcam_area breadcam_bg_6 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> &nbsp;Boa Constrictor</h3>
            </div>
        </div>
    </div>
</div>


<!-- CSS Part -->
<style>
    #map-container {
        width: 100%;
        height: auto;
        max-width: 800px;
        max-height: 600px;
        position: relative;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -400px;
    }

    #map {
        width: 100%;
        height: 600px;
    }

    .popup-card {
        background-color: rgba(43,43,43,0.9);
        border-bottom: 2px solid #2b2b2b;
        border-radius: 3px;
        padding: 15px 15px 10px;
        position: absolute;
        opacity: 0;
        width: 120px;
        margin-left: -65px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Montserrat";
        font-size: 12px;
        line-height: 16px;
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        animation: fadeUp 500ms cubic-bezier(0.51,0.01,0.37,0.98);
        animation-fill-mode: forwards;
    }

        .popup-card:after, .popup-card:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            margin-top: 2px;
        }

        .popup-card:after {
            border-color: transparent;
            border-top-color: #2b2b2b;
            border-width: 6px;
            left: 50%;
            margin-left: -6px;
        }

        .popup-card:before {
            border-color: transparent;
            border-top-color: #2b2b2b;
            border-width: 9px;
            left: 50%;
            margin-left: -9px;
        }

        .popup-card span {
            display: block;
            color: #d4dbe2;
        }

            .popup-card span.country {
                font-size: 14px;
                margin-bottom: 8px;
                color: #fff;
            }

        .popup-card em {
            font-style: normal;
            display: inline-block;
            color: #a3b1bf;
            margin-right: 3px;
        }

    @@keyframes fadeUp {
        0% {
            opacity: 0;
            transform: translateY(-80%);
        }

        100% {
            opacity: 1;
            transform: translateY(-100%);
        }
    }

    .pestname {
        padding-top: 75px;
        padding-bottom: 75px;
        background: #FDF9F6
    }

        .pestname img {
            width: 450px;
            height: auto;
        }

    .pestdescription {
        padding-top: 75px;
        padding-bottom: 75px;
    }

        .pestdescription img {
            width: 450px;
            height: auto;
        }

    .pestorigin {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .pesthalf {
    }

    #navigation_block {
        position: relative;
        top: 200px;
        left: 200px;
    }

    #hide {
        position: absolute;
        top: 30px;
        left: -190px;
    }

    ul#move-navigation {
        position: fixed;
        top: 175px;
        list-style: none;
        font-size: 0.85em;
        margin: 30px 0;
        padding: 0;
    }

        ul#move-navigation li.move-element h3,
        ul#move-navigation li.move-element a {
            display: block;
            width: 150px;
            padding: 5px 18px;
            margin: 0;
            margin-bottom: 5px;
        }

        ul#move-navigation li.move-element h3 {
            color: #fff;
            background-color: #b5b5b5;
            font-weight: initial;
        }

        ul#move-navigation li.move-element a {
            color: #d4dbe2;
            background-color: #808080;
            text-decoration: none;
        }

            ul#move-navigation li.move-element a:hover {
                color: #fff;
            }

    .bg-button {
        fill: orange;
    }

    .speaker-icon {
        fill: white;
    }
</style>


<!--BACK TO TOP CSS-->
<style>
    @@-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @@-moz-keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @@keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .m-backtotop {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: fixed;
        bottom: 0;
        right: 20px;
        width: 50px;
        height: 50px;
        background: #222;
        border-radius: 25px;
        text-align: center;
        border: 2px solid #fff;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        opacity: 0;
        overflow: hidden;
        color: #fff;
        z-index: 10001;
    }

        .m-backtotop.active {
            bottom: 15px;
            opacity: 1;
        }

        .m-backtotop > div {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .m-backtotop > div.arrow {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                opacity: 1;
            }

            .m-backtotop > div.text {
                font-size: 5px;
                font-size: 0.5rem;
                line-height: 10px;
                text-transform: uppercase;
                font-weight: 900;
                font-family: 'Open Sans', sans-serif;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateY(50%) translateX(-50%);
                opacity: 0;
                margin-top: 1px;
            }

        .m-backtotop:hover {
            transform: scale(1.1);
            bottom: 20px;
            cursor: pointer;
            background: #000;
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
        }

            .m-backtotop:hover > div.arrow {
                transform: translateY(-150%) translateX(-50%);
                opacity: 0;
            }

            .m-backtotop:hover > div.text {
                transform: translateY(-50%) translateX(-50%);
                opacity: 1;
            }
</style>

<!--BACK TO TOP BUTTON-->
<div class="m-backtotop" aria-hidden="true">
    <div class="arrow">
        <i class="fa fa-arrow-up"></i>
    </div>
    <div class="text">
        Back to Top
    </div>
</div>


<!-- Pest list navigation start -->
<ul id="move-navigation">
    <li class="move-element">
        <h3>Pest List</h3>
    </li>
    <li class="move-element">
        <a href="~/Home/AsianToad">Asian Toad</a>
    </li>
    <li class="move-element">
        <a href="~/Home/BoaConstrictor">Boa Constrictor</a>
    </li>
    <li class="move-element">
        <a href="~/Home/CanadaGoose">Canada Goose</a>
    </li>
    <li class="move-element">
        <a href="~/Home/CaneToad">Cane Toad</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Cat">Feral Cat</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Pig">Feral Pig</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Rabbit">Rabbit</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Fox">Red Fox</a>
    </li>
</ul>
<!-- Pest list navigation end -->
<!--Pest image and name-->
<div class="pestname">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/elements/esnake.jpg" alt="" />
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>What is a <br />Boa Constrictor?</h3>
                        <p><b>Common name:</b> Boa constrictor</p>
                        <div style="display:flex;">
                            <p>
                                <b>Scientific name:</b> Boa Constrictor
                            </p> <svg class="on" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 -5 95 95" onclick="sayItOutLoud()">
                                <g fill="none" fill-rule="evenodd">

                                    <circle class="bg-button" cx="50.5" cy="42.5" r="33.5"></circle>
                                    <g class="speaker-icon">
                                        <path d="M49.97 30.043c-.343 0-.64.125-.89.374l-6.583 6.549h-5.18c-.343 0-.639.124-.89.373-.25.25-.375.545-.375.885v7.552c0 .34.125.636.376.885.25.249.547.374.89.374h5.179l6.583 6.549c.25.248.547.373.89.373.342 0 .639-.125.89-.373.25-.25.375-.545.375-.885V31.302c0-.341-.125-.636-.376-.885a1.22 1.22 0 0 0-.89-.374zM57.986 44.782a5.047 5.047 0 0 0 0-5.576c-.56-.865-1.301-1.474-2.224-1.828a1.108 1.108 0 0 0-.494-.099c-.343 0-.64.122-.89.364-.25.243-.376.541-.376.895 0 .275.08.508.238.698.158.19.349.354.573.492.224.137.448.288.672.452.224.164.415.397.574.698.157.302.237.676.237 1.122 0 .445-.08.819-.237 1.12-.159.302-.35.535-.574.699-.224.164-.448.315-.672.452a2.308 2.308 0 0 0-.573.492c-.158.19-.238.423-.238.698 0 .354.126.652.376.895s.547.364.89.364c.197 0 .362-.033.494-.098.923-.368 1.664-.98 2.224-1.84z"></path>
                                        <path d="M62.207 47.556c1.12-1.698 1.68-3.55 1.68-5.556 0-2.006-.56-3.858-1.68-5.556-1.12-1.698-2.604-2.934-4.448-3.707a1.43 1.43 0 0 0-.514-.098c-.343 0-.64.124-.89.373-.25.25-.375.544-.375.885 0 .512.257.898.77 1.16.739.38 1.24.67 1.503.866a7.437 7.437 0 0 1 2.283 2.665 7.385 7.385 0 0 1 .82 3.412 7.385 7.385 0 0 1-.82 3.412 7.434 7.434 0 0 1-2.283 2.664c-.264.197-.764.486-1.502.866-.514.262-.771.649-.771 1.16 0 .341.125.636.375.885.25.25.553.374.91.374.158 0 .323-.033.494-.098 1.844-.774 3.328-2.01 4.448-3.707z"></path>
                                        <path d="M66.437 33.691c-1.673-2.523-3.9-4.382-6.682-5.575a1.43 1.43 0 0 0-.514-.098c-.342 0-.639.125-.89.374-.25.249-.375.544-.375.885 0 .472.257.858.771 1.16.093.052.24.12.445.206.204.085.352.154.445.206.606.328 1.146.663 1.621 1.003a12.553 12.553 0 0 1 3.796 4.464A12.337 12.337 0 0 1 66.418 42c0 2.006-.455 3.9-1.364 5.684a12.551 12.551 0 0 1-3.796 4.464c-.475.34-1.015.675-1.621 1.003a4.57 4.57 0 0 1-.445.206 4.37 4.37 0 0 0-.445.206c-.514.302-.77.688-.77 1.16 0 .341.124.636.375.885.25.25.547.374.89.374.17 0 .342-.033.513-.098 2.781-1.193 5.009-3.052 6.682-5.576 1.674-2.523 2.51-5.293 2.51-8.308 0-3.016-.836-5.785-2.51-8.309z"></path>
                                    </g>
                                    <g class="curved-arrow" stroke="#FFF" stroke-linecap="round" stroke-width="3">
                                        <circle cx="51.512" cy="42.512" r="42.512"
                                                transform="rotate(-90 51.512 42.512)"></circle>
                                        <path class="arrow-tip" d="M.338 46L9.5 52.5M17.5 46l-7 6.5"></path>
                                    </g>
                                </g>
                            </svg>

                        </div>

                        <p><b>Taxonomy Class:</b> Reptilia</p>
                        <p><b>Taxonomy Family:</b> Boidae</p>
                        <p><b>Taxonomy Genus:</b> Boa</p>
                        <p><b>Diet:</b> Carnivore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pest image and name end-->
<!--Pest pyhsical description start-->
<div class="pestdescription">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="section_title2 text-center">
                    <h3>What does it look like?</h3>
                    <p>
                        Distinctive pattern of jagged lines, ovals, diamonds and <br>circles and most have a mid-dorsal head-stripe.<br>
                        Wide range of colour variation – tan, green, red and yellow.

                    <p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/Snake 1.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<!--Pest physical description end-->
<!--Pest danger start-->
<div class="service_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>What do they harm?</h3>
                    <p>What dangers and damages does Boa Constrictor cause?</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <img src="~/img/elements/esnake2.jpg" height="240" alt="">
                    </div>
                    <div class="service_content text-center">
                        <h3>Biodiversity</h3>
                        <p>Impacts on native species through predation as it has a broad diet of many food types.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <img src="~/img/SnakeDisease.jpg" height="240" alt="">
                    </div>
                    <div class="service_content text-center">
                        <h3>Diseases</h3>
                        <p>Have potential to carry exotic diseases and parasites which could be transmitted to native wildlife.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pest danger end-->
<!--Pest origin start-->
<div class="section_title2 text-center">
    <div class="pestorigin">
        <h3 class="mb-30">Where did they come from?</h3>
        <p style="font-style: italic;font-size:20px"><b>The Main Origin Area: Native to Central and South America</b></p>
        <p><b>*Mouse over the highlighted areas to see where the Asian Toad originated from.</b><p>
            <div id="map-container">
                <div id="map">
                    <br />
                    <div class="datamaps-hoverover" style="z-index: 10001; position: absolute; display: none;"></div>
                </div>
            </div>
    </div>
</div>
<!--Pest origin end-->
<!--How they spread + what can you do-->
<div class="pestname">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px text-center">
                        <h3>How did they <br />spread?</h3>
                        <p>
                            Usually they illegally bred and sold as illegal pets. <br>
                            They typically escapees or deliberately released animals from illegal pet trade.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/animaltrade.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--How they spread + what can you do end-->
<div class="pestdescription">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/elements/s6.jpg" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title2 text-center">
                        <h3>What can you do?</h3>
                        <p class="text-left">
                            <br>
                            &#8226; Never attempt to approach or handle a snake. <br>
                            &#8226; All snakes should be considered venomous and highly dangerous. <br>
                            &#8226; If bitten by a snake dial <b>000</b> immediately. <br>
                            <br>
                            <b>Call: </b> Department of Environment and Primary Industries(DEPI):<b>136 186</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- New Slide  -->
<div class="carocontainer">
    <div class="row" style="margin:0">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width:100%">
            <div class="carousel-inner" style="padding: 0 200px">
                <div class="carousel-item active">
                    <div style="display:flex; justify-content:space-between">
                        <img src="~/img/elements/s7.jpg" alt="" style="width: 450px; height: 300px; margin-bottom:50px; margin-left:50px">
                        <div class="about_info">
                            <div class="section_title2 text-center">
                                <h3 style="margin-top:5px">What can you do?</h3>
                                <p class="text-left" style="margin-left: 80px;margin-bottom: 60px">
                                    &#8226; Never attempt to approach or handle a snake. <br>
                                    &#8226; All snakes should be considered venomous and highly dangerous. <br>
                                    &#8226; If bitten by a snake dial <b>000</b> immediately. <br>
                                    <br>
                                    <b>Call: </b> Department of Environment and Primary Industries(DEPI):<b>136 186</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="display:flex; justify-content:space-between">
                        <img src="~/img/shipping containers.jpg" alt="" style="width: 450px; height: 300px; margin-bottom:50px; margin-left:50px">
                        <div class="about_info">
                            <div class="section_title2 text-center">
                                <h3>How did they spread?</h3>
                                <p class="text-left" style="margin-left: 80px">
                                    Usually detected in international vessels, shipping containers and machinery. <br>
                                    They have been detected at least three times in the wild in Australia.<br>
                                    The most recent sighting is in 2014 - in suburban Melbrourne.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="margin-left: 150px"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>