<!-- Java Script Part -->
@section scripts{
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/topojson.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/datamaps.world.min.js"></script>
    <script type="text/javascript">
        var Popup = {
            Show: function (geography, data, element, e) {
                e.stopPropagation();

                var el =
                    '<div class="popup-card"> \<span class="country">' + geography.properties.name + '</span>\</div>';

                var $el = $(el).css({
                    top: e.pageY - 10,
                    left: e.pageX
                });

                Popup.Hide();
                $('body').append($el);
            },

            Hide: function () {
                $('body .popup-card').remove();
            }
        };

        var dataMap = new Datamap({
            element: document.getElementById('map'),
            scope: 'world',
            projection: 'mercator',
            geographyConfig: {
                highlightBorderColor: '#fff',
                highlightBorderWidth: 1,
                highlightFillColor: '#f75455',
                popupOnHover: false
            },

            fills: {
                defaultFill: '#eff0f2',
                gt: '#ed1f24'
            },
            data: {
                CAN: { fillKey: 'gt' },
                MEX: { fillKey: 'gt' },
                USA: { fillKey: 'gt' },
                ATG: { fillKey: 'gt' },
                BHS: { fillKey: 'gt' },
                BRB: { fillKey: 'gt' },
                BLZ: { fillKey: 'gt' },
                CRI: { fillKey: 'gt' },
                CUB: { fillKey: 'gt' },
                DMA: { fillKey: 'gt' },
                DOM: { fillKey: 'gt' },
                SLV: { fillKey: 'gt' },
                GRD: { fillKey: 'gt' },
                GTM: { fillKey: 'gt' },
                HTI: { fillKey: 'gt' },
                HND: { fillKey: 'gt' },
                JAM: { fillKey: 'gt' },
                NIC: { fillKey: 'gt' },
                PAN: { fillKey: 'gt' },
                KNA: { fillKey: 'gt' },
                VCT: { fillKey: 'gt' },
                BHS: { fillKey: 'gt' },
                TTO: { fillKey: 'gt' }
            },

            done: function (datamap) {
                datamap.svg.selectAll('.datamaps-subunit').on('mouseover', function (geography) {
                    Popup.Show(geography, datamap.options.data[geography.id], this, d3.event);
                });
            }
        });

        $('body').on('mouseover', function (e) {
            Popup.Hide();
        })
            .on('mouseover', '.datamaps-subunit,.popup-card', function (e) {
                e.stopPropagation();
            });

        function sayItOutLoud() {
            const message = 'Branta canadensis';
            var speech = new SpeechSynthesisUtterance();
            speech.lang = "en-US";
            speech.text = message;
            speech.volume = 1;
            speech.rate = 1;
            speech.pitch = 1;

            window.speechSynthesis.speak(speech);
        }


        $('[data-toggle="tooltip"]').tooltip({
        })

        $(document).mousemove(function (e) {
            var mouseX = e.pageX - $('#image-map-process-map').offset().left + 450;
            var mouseY = e.pageY - $('#image-map-process-map').offset().top + 140;
            $('.tooltip').css({ 'top': mouseY, 'left': mouseX }).fadeIn('slow');
        });

    </script>

    <script>
        $(document).ready(function () {
            slide("#move-navigation", 35, 20, 150, 1);
        });

        function slide(navigation_id, pad_out, pad_in, time, multiplier) {
            // creates the target paths
            var list_elements = navigation_id + " li.move-element";
            var link_elements = list_elements + " a";

            // initiates the timer used for the move animation
            var timer = 0;

            // creates the slide animation for all list elements
            $(list_elements).each(function (i) {
                // margin left = - ([width of element] + [total vertical padding of element])
                $(this).css("margin-left", "-180px");
                // updates timer
                timer = (timer * multiplier + time);
                $(this).animate({ marginLeft: "0" }, timer);
                $(this).animate({ marginLeft: "15px" }, timer);
                $(this).animate({ marginLeft: "0" }, timer);
            });

            // creates the hover-slide effect for all link elements
            $(link_elements).each(function (i) {
                $(this).hover(function () {
                    $(this).stop().animate({ paddingLeft: pad_out }, 150);
                }, function () {
                    $(this).stop().animate({ paddingLeft: pad_in }, 150);
                });
            });
        }
    </script>


    <script>
        //Make sure the user has scrolled at least double the height of the browser
        var toggleHeight = $(window).outerHeight() * 0.8;

        $(window).scroll(function () {
            if ($(window).scrollTop() > toggleHeight) {
                //Adds active class to make button visible
                $(".m-backtotop").addClass("active");


            } else {
                //Removes active class to make button visible
                $(".m-backtotop").removeClass("active");

            }
        });

        //Scrolls the user to the top of the page again
        $(".m-backtotop").click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    </script>


}



<!-- Header&Footer_area_start, Don't change it. -->
<div class="bradcam_area breadcam_bg_7 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> &nbsp;Canada Goose</h3>
            </div>
        </div>
    </div>
</div>



<!-- CSS Part -->
<style>
    #map-container {
        width: 100%;
        height: auto;
        max-width: 800px;
        max-height: 600px;
        position: relative;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -400px;
    }

    #map {
        width: 100%;
        height: 600px;
    }

    .popup-card {
        background-color: rgba(43,43,43,0.9);
        border-bottom: 2px solid #2b2b2b;
        border-radius: 3px;
        padding: 15px 15px 10px;
        position: absolute;
        opacity: 0;
        width: 120px;
        margin-left: -65px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Montserrat";
        font-size: 12px;
        line-height: 16px;
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        animation: fadeUp 500ms cubic-bezier(0.51,0.01,0.37,0.98);
        animation-fill-mode: forwards;
    }

        .popup-card:after, .popup-card:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            margin-top: 2px;
        }

        .popup-card:after {
            border-color: transparent;
            border-top-color: #2b2b2b;
            border-width: 6px;
            left: 50%;
            margin-left: -6px;
        }

        .popup-card:before {
            border-color: transparent;
            border-top-color: #2b2b2b;
            border-width: 9px;
            left: 50%;
            margin-left: -9px;
        }

        .popup-card span {
            display: block;
            color: #d4dbe2;
        }

            .popup-card span.country {
                font-size: 14px;
                margin-bottom: 8px;
                color: #fff;
            }

        .popup-card em {
            font-style: normal;
            display: inline-block;
            color: #a3b1bf;
            margin-right: 3px;
        }

    @@keyframes fadeUp {
        0% {
            opacity: 0;
            transform: translateY(-80%);
        }

        100% {
            opacity: 1;
            transform: translateY(-100%);
        }
    }

    .pestname {
        padding-top: 75px;
        padding-bottom: 75px;
    }

        .pestname img {
            width: 450px;
            height: auto;
        }

    .pestdescription {
        padding-top: 75px;
        padding-bottom: 75px;
        background: #FDF9F6
    }

        .pestdescription img {
            width: 450px;
            height: auto;
        }

    .pestdescription1 {
        padding-top: 75px;
        padding-bottom: 75px;
        background: #FDF9F6
    }

        .pestdescription1 img {
            width: 600px;
            height: auto;
        }

    .pestorigin {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .pesthalf {
    }

    #navigation_block {
        position: relative;
        top: 200px;
        left: 200px;
    }

    #hide {
        position: absolute;
        top: 30px;
        left: -190px;
    }

    ul#move-navigation {
        position: fixed;
        top: 175px;
        list-style: none;
        font-size: 0.85em;
        margin: 30px 0;
        padding: 0;
        z-index: 9999;
    }

        ul#move-navigation li.move-element h3,
        ul#move-navigation li.move-element a {
            display: block;
            width: 150px;
            padding: 5px 18px;
            margin: 0;
            margin-bottom: 5px;
        }

        ul#move-navigation li.move-element h3 {
            color: #fff;
            background-color: #b5b5b5;
            font-weight: initial;
        }

        ul#move-navigation li.move-element a {
            color: #d4dbe2;
            background-color: #808080;
            text-decoration: none;
        }

            ul#move-navigation li.move-element a:hover {
                color: #fff;
            }

    .bg-button {
        fill: orange;
    }

    .speaker-icon {
        fill: white;
    }
</style>

<!--BACK TO TOP BUTTON-->
<div class="m-backtotop" aria-hidden="true">
    <div class="arrow">
        <i class="fa fa-arrow-up"></i>
    </div>
    <div class="text">
        Back to Top
    </div>
</div>


<!--BACK TO TOP CSS-->
<style>
    @@-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @@-moz-keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @@keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .m-backtotop {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: fixed;
        bottom: 0;
        right: 20px;
        width: 50px;
        height: 50px;
        background: #222;
        border-radius: 25px;
        text-align: center;
        border: 2px solid #fff;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        opacity: 0;
        overflow: hidden;
        color: #fff;
        z-index: 10001;
    }

        .m-backtotop.active {
            bottom: 15px;
            opacity: 1;
        }

        .m-backtotop > div {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .m-backtotop > div.arrow {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                opacity: 1;
            }

            .m-backtotop > div.text {
                font-size: 5px;
                font-size: 0.5rem;
                line-height: 10px;
                text-transform: uppercase;
                font-weight: 900;
                font-family: 'Open Sans', sans-serif;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateY(50%) translateX(-50%);
                opacity: 0;
                margin-top: 1px;
            }

        .m-backtotop:hover {
            transform: scale(1.1);
            bottom: 20px;
            cursor: pointer;
            background: #000;
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
        }

            .m-backtotop:hover > div.arrow {
                transform: translateY(-150%) translateX(-50%);
                opacity: 0;
            }

            .m-backtotop:hover > div.text {
                transform: translateY(-50%) translateX(-50%);
                opacity: 1;
            }
</style>


<!-- Pest list navigation start -->
<ul id="move-navigation">
    <li class="move-element">
        <h3>Pest List</h3>
    </li>
    <li class="move-element">
        <a href="~/Home/AsianToad">Asian Toad</a>
    </li>
    <li class="move-element">
        <a href="~/Home/BoaConstrictor">Boa Constrictor</a>
    </li>
    <li class="move-element">
        <a href="~/Home/CanadaGoose">Canada Goose</a>
    </li>
    <li class="move-element">
        <a href="~/Home/CaneToad">Cane Toad</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Cat">Feral Cat</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Pig">Feral Pig</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Rabbit">Rabbit</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Fox">Red Fox</a>
    </li>
</ul>
<!-- Pest list navigation end -->
<!--Pest image and name-->
<div class="pestname">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/elements/egoose1.jpg" alt="" />
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>What is a <br />Canada goose?</h3>
                        <p><b>Common name:</b> Canada goose</p>
                        <div style="display:flex;">
                            <p>
                                <b>Scientific name:</b> Branta canadensis
                            </p> <svg class="on" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 -5 95 95" onclick="sayItOutLoud()">
                                <g fill="none" fill-rule="evenodd">

                                    <circle class="bg-button" cx="50.5" cy="42.5" r="33.5"></circle>
                                    <g class="speaker-icon">
                                        <path d="M49.97 30.043c-.343 0-.64.125-.89.374l-6.583 6.549h-5.18c-.343 0-.639.124-.89.373-.25.25-.375.545-.375.885v7.552c0 .34.125.636.376.885.25.249.547.374.89.374h5.179l6.583 6.549c.25.248.547.373.89.373.342 0 .639-.125.89-.373.25-.25.375-.545.375-.885V31.302c0-.341-.125-.636-.376-.885a1.22 1.22 0 0 0-.89-.374zM57.986 44.782a5.047 5.047 0 0 0 0-5.576c-.56-.865-1.301-1.474-2.224-1.828a1.108 1.108 0 0 0-.494-.099c-.343 0-.64.122-.89.364-.25.243-.376.541-.376.895 0 .275.08.508.238.698.158.19.349.354.573.492.224.137.448.288.672.452.224.164.415.397.574.698.157.302.237.676.237 1.122 0 .445-.08.819-.237 1.12-.159.302-.35.535-.574.699-.224.164-.448.315-.672.452a2.308 2.308 0 0 0-.573.492c-.158.19-.238.423-.238.698 0 .354.126.652.376.895s.547.364.89.364c.197 0 .362-.033.494-.098.923-.368 1.664-.98 2.224-1.84z"></path>
                                        <path d="M62.207 47.556c1.12-1.698 1.68-3.55 1.68-5.556 0-2.006-.56-3.858-1.68-5.556-1.12-1.698-2.604-2.934-4.448-3.707a1.43 1.43 0 0 0-.514-.098c-.343 0-.64.124-.89.373-.25.25-.375.544-.375.885 0 .512.257.898.77 1.16.739.38 1.24.67 1.503.866a7.437 7.437 0 0 1 2.283 2.665 7.385 7.385 0 0 1 .82 3.412 7.385 7.385 0 0 1-.82 3.412 7.434 7.434 0 0 1-2.283 2.664c-.264.197-.764.486-1.502.866-.514.262-.771.649-.771 1.16 0 .341.125.636.375.885.25.25.553.374.91.374.158 0 .323-.033.494-.098 1.844-.774 3.328-2.01 4.448-3.707z"></path>
                                        <path d="M66.437 33.691c-1.673-2.523-3.9-4.382-6.682-5.575a1.43 1.43 0 0 0-.514-.098c-.342 0-.639.125-.89.374-.25.249-.375.544-.375.885 0 .472.257.858.771 1.16.093.052.24.12.445.206.204.085.352.154.445.206.606.328 1.146.663 1.621 1.003a12.553 12.553 0 0 1 3.796 4.464A12.337 12.337 0 0 1 66.418 42c0 2.006-.455 3.9-1.364 5.684a12.551 12.551 0 0 1-3.796 4.464c-.475.34-1.015.675-1.621 1.003a4.57 4.57 0 0 1-.445.206 4.37 4.37 0 0 0-.445.206c-.514.302-.77.688-.77 1.16 0 .341.124.636.375.885.25.25.547.374.89.374.17 0 .342-.033.513-.098 2.781-1.193 5.009-3.052 6.682-5.576 1.674-2.523 2.51-5.293 2.51-8.308 0-3.016-.836-5.785-2.51-8.309z"></path>
                                    </g>
                                    <g class="curved-arrow" stroke="#FFF" stroke-linecap="round" stroke-width="3">
                                        <circle cx="51.512" cy="42.512" r="42.512"
                                                transform="rotate(-90 51.512 42.512)"></circle>
                                        <path class="arrow-tip" d="M.338 46L9.5 52.5M17.5 46l-7 6.5"></path>
                                    </g>
                                </g>
                            </svg>

                        </div>
                        <p><b>Taxonomy Class:</b> Aves</p>
                        <p><b>Taxonomy Family:</b> Anatidae</p>
                        <p><b>Taxonomy Genus:</b> Branta</p>
                        <p><b>Diet:</b> Herbivores</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pest image and name end-->
<!--Pest pyhsical description start-->
<div class="pestdescription">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="section_title2 text-center">
                    <h3>What does it look like?</h3>
                    <br>
                </div>
                <div class="section_title text-center">
                    <h3 style="font-size: 20px">Mouse over image !</h3>
                    <p>
                        Description will be updated based on position of mouse
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <!-- Image Map Generated by http://www.image-map.net/ -->
                <img src="~/img/GooseWing.jpg" usemap="#image-map">

                <map name="image-map" id="image-map-process-map">
                    <area target="_self" style="outline:none;" alt="" data-toggle="tooltip" title="Distinctive white patch on their cheeks and chin" coords="232,56,233,62,237,68,241,72,254,70,248,64,239,55" shape="poly" />
                    <area target="_self" style="outline:none;" alt="" data-toggle="tooltip" title="Have long black neck and head" coords="256,70,260,68,260,60,258,53,250,50,241,48,235,52,248,65" shape="poly" />
                    <area target="_self" style="outline:none;" alt="" data-toggle="tooltip" title="Have long black neck and head" coords="229,58,226,71,224,86,224,99,229,111,238,119,246,118,254,115,249,107,243,99,241,88,242,77,246,73,236,69" shape="poly" />
                    <area target="_self" style="outline:none;" alt="" data-toggle="tooltip" title="Bill, tail, legs and feet are also black" coords="145,228,138,231,130,236,125,243,127,248,134,251,141,254,152,254,161,253,167,248,156,242,148,240,142,233" shape="poly" />
                    <area target="_self" style="outline:none;" alt="" data-toggle="tooltip" title="Bill, tail, legs and feet are also black" coords="157,211,164,225,167,239,165,256,162,270,174,270,182,269,177,258,176,248,176,239,170,229,166,216,162,209" shape="poly" />
                    <area target="_self" style="outline:none;" alt="" data-toggle="tooltip" title="Bill, tail, legs and feet are also black" coords="235,226,242,234,247,243,252,251,257,260,252,272,263,276,273,276,284,272,269,268,264,264,259,254,256,246,254,238,252,229,252,219,244,220" shape="poly" />
                    <area target="_self" style="outline:none;" alt="" data-toggle="tooltip" title="Underwings are dark" coords="208,125,193,114,185,105,169,92,151,72,139,64,129,58,120,52,110,51,101,51,83,48,63,43,25,34,20,51,23,80,28,105,44,120,62,135,85,146,104,172,119,184,138,204,157,209,173,172,192,153,206,139" shape="poly" />
                    <area target="_self" style="outline:none;" alt="" data-toggle="tooltip" title="Underwings are dark" coords="254,105,274,85,287,80,313,73,326,70,349,68,384,67,421,59,424,73,422,92,411,107,391,121,372,130,354,142,337,147,323,152,310,156,295,161,280,143,274,126,265,115" shape="poly" />
                </map>
            </div>
        </div>
    </div>
</div>
<!--Pest physical description end-->
<!--Pest danger start-->
@* <div class="service_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-10">
                    <div class="section_title text-center mb-55">
                        <h3>What do they harm?</h3>
                        <p>What dangers and damages does Canada goose cause?</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="service_thumb">
                            <img src="~/img/CanadaGooseCom.jpg" alt="">
                        </div>
                        <div class="service_content text-center">
                            <h3>Biodiversity</h3>
                            <p>Competes with native waterfowl species for nesting sites and food.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="service_thumb">
                            <img src="~/img/CanadaGooseDisease.jpg" alt="">
                        </div>
                        <div class="service_content text-center">
                            <h3>Disease</h3>
                            <p>Have Potentially spreading parasites and disease.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="service_thumb">
                            <img src="~/img/economicloss.jpg" alt="">
                        </div>
                        <div class="service_content text-center">
                            <h3>Economic</h3>
                            <p>Considered moderate pest of agriculture as they damage crops.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="service_thumb">
                            <img src="~/img/elements/goose.jpg" alt="">
                        </div>
                        <div class="service_content text-center">
                            <h3>Environment</h3>
                            <p>Their droppings contaminate waterways and land.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="service_thumb">
                            <img src="~/img/Airport.jpg" alt="">
                        </div>
                        <div class="service_content text-center">
                            <h3>Security Risk</h3>
                            <p> Have caused serious aeroplane crashes when they fly in flocks over or near airpots.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

<!--Pest danger end-->
<!--Pest origin start-->
<div class="section_title2 text-center">
    <div class="pestorigin">
        <h3 class="mb-30">Where did they come from?</h3>
        <p style="font-style: italic;font-size:20px"><b>The Main Origin Area: <br>Native to North America, the Bahamas and Greenland</b></p>
        <p><b>*Mouse over the highlighted areas to see where the Canada goose originated from.</b><p>
            <div id="map-container">
                <div id="map">
                    <br />
                    <div class="datamaps-hoverover" style="z-index: 10001; position: absolute; display: none;"></div>
                </div>
            </div>
    </div>
</div>
<!--Pest origin end-->
<style>
    .box {
        position: relative;
        width: 300px;
        height: 250px;
        background: #000;
        box-shadow: 0 30px 30px rgba(0,0,0,.5);
    }

        .box .imgBx {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

            .box .imgBx img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s;
            }

        .box:hover .imgBx img {
            opacity: 0;
        }

        .box .content {
            position: absolute;
            bottom: 20px;
            left: 10%;
            width: 80%;
            height: 60px;
            background: #fff;
            transition: 0.5s;
            overflow: hidden;
            padding: 15px;
            box-sizing: border-box;
        }

        .box:hover .content {
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
        }

        .box .content h3 {
            margin: 0;
            padding: 0;
            font-size: 20px;
        }

        .box .content p {
            margin: 10px 0 0;
            padding: 0;
            opacity: 0;
            line-height: 1.2em;
            transition: 0.5s;
            text-align: justify;
        }

        .box:hover .content p {
            opacity: 1;
            transition-delay: 0.5s;
        }
</style>

<!-- Bottmom slide area-->
<div class="service_area" style="height:550px ; margin-top:-40px; ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="height:550px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <img src="~/img/elements/l3.jpg" alt="" style="width: 450px; height: 300px;">
                        </div>
                        <div class="col-xl-6">
                            <div class="section_title2 text-center">
                                <h3>How did they spread?</h3>
                                <p class="text-left">
                                    &#8226; As of now, they have not spread across Australia.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height:550px">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 section_title text-center mb-55">
                            <h3 style="color: #EB592D">What do they harm?</h3>
                        </div>

                        <div class="container" style="width:1000px; display:flex; flex-wrap:wrap; justify-content:space-between; margin-top:-40px">
                            <div class="box" style="margin-left: 150px">
                                <div class="imgBx">
                                    <img src="~/img/CanadaGooseCom.jpg">
                                </div>
                                <div class="content">
                                    <h3 style="font-size:30px">Biodiversity and Economy</h3>
                                    <p style="color:black;font-size:18px">Compete with native waterfowl species for nesting sites and food. Also considered pest of agricultures as they damage crops.</p>
                                </div>
                            </div>
                            <div class="box" style="margin-right: 150px">
                                <div class="imgBx">
                                    <img src="~/img/CanadaGooseDisease.jpg">
                                </div>
                                <div class="content">
                                    <h3 style="font-size:30px">Security risk</h3>
                                    <p style="color:black;font-size:18px">Canada goose has caused serious aeroplane crashes when they fly in flocks over or near airports. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="height:550px">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <img src="~/img/elements/s4.jpg" alt="" style="width: 450px; height: 300px;">
                        </div>
                        <div class="col-xl-6">
                            <div class="section_title2 text-center">
                                <h3>What can you do?</h3>
                                <br>
                                <p class="text-left">
                                    &#8226; Do not approach nests – geese aggressively defend nests and can inflict injury with their beak and wings.<br>
                                    &#8226; Watch for warning signs – geese will pump their heads up and down as a sign of aggression.<br>
                                    &#8226; Remain calm if you are faced with an aggressive goose. It is stand straight, maintain eye contact and slowly back away.<br>
                                    &#8226; Report confirmed sighting to Agriculture Victoria. <br>
                                    <b>Email:</b> highrisk.invasiveanimals@agriculture.vic.gov.au <br>
                                    <b>Call: </b> Agriculture Victoria Customer Service Centre<b>136 186</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" style="margin-left: 150px"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!-- Bottmom slide area end-->

<style>

    .carousel-indicators li {
        display: inline-block;
        width: 13px;
        height: 13px;
        text-indent: 0;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background-color: #e6bfb3;
        box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
    }

    .carousel-indicators {
        bottom: 120px;
    }

        .carousel-indicators .active {
            width: 13px;
            height: 13px;
            background-color: #EB592D;
        }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 20px;
        width: 20px;
        outline: black;
        background-color: #EB592D;
        background-size: 100%, 100%;
    }

    .tooltip {
        pointer-events: none;
    }

    .carousel-control-prev {
        height: 0;
        top: 30%;
    }

    .carousel-control-next {
        height: 0;
        top: 30%;
    }

    .carousel-inner {
        width: 100%;
        min-height: 100%;
        position: relative;
    }
</style>
<!-- New Slide end -->
