<!-- Java Script Part -->
@section scripts{
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/topojson.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/datamaps.world.min.js"></script>
    <script type="text/javascript">
        var Popup = {
            Show: function (geography, data, element, e) {
                e.stopPropagation();

                var el =
                    '<div class="popup-card"> \
                                                        <span class="country">' + geography.properties.name + '</span>\
                                                </div>';

                var $el = $(el).css({
                    top: e.pageY - 10,
                    left: e.pageX
                });

                Popup.Hide();
                $('body').append($el);
            },

            Hide: function () {
                $('body .popup-card').remove();
            }
        };

        var dataMap = new Datamap({
            element: document.getElementById('map'),
            scope: 'world',
            projection: 'mercator',
            geographyConfig: {
                highlightBorderColor: '#fff',
                highlightBorderWidth: 1,
                highlightFillColor: '#f75455',
                popupOnHover: false
            },

            fills: {
                defaultFill: '#eff0f2',
                gt: '#ed1f24'
            },
            data: {
                CAN: { fillKey: 'gt' },
                MEX: { fillKey: 'gt' },
                USA: { fillKey: 'gt' },
                ATG: { fillKey: 'gt' },
                BHS: { fillKey: 'gt' },
                BRB: { fillKey: 'gt' },
                BLZ: { fillKey: 'gt' },
                CRI: { fillKey: 'gt' },
                CUB: { fillKey: 'gt' },
                DMA: { fillKey: 'gt' },
                DOM: { fillKey: 'gt' },
                SLV: { fillKey: 'gt' },
                GRD: { fillKey: 'gt' },
                GTM: { fillKey: 'gt' },
                HTI: { fillKey: 'gt' },
                HND: { fillKey: 'gt' },
                JAM: { fillKey: 'gt' },
                NIC: { fillKey: 'gt' },
                PAN: { fillKey: 'gt' },
                KNA: { fillKey: 'gt' },
                VCT: { fillKey: 'gt' },
                BHS: { fillKey: 'gt' },
                TTO: { fillKey: 'gt' }
            },

            done: function (datamap) {
                datamap.svg.selectAll('.datamaps-subunit').on('click', function (geography) {
                    Popup.Show(geography, datamap.options.data[geography.id], this, d3.event);
                });
            }
        });

        $('body').on('click', function (e) {
            Popup.Hide();
        })
            .on('click', '.datamaps-subunit,.popup-card', function (e) {
                e.stopPropagation();
            });

    </script>

    <script>
        $(document).ready(function () {
            slide("#move-navigation", 35, 20, 150, 1);
        });

        function slide(navigation_id, pad_out, pad_in, time, multiplier) {
            // creates the target paths
            var list_elements = navigation_id + " li.move-element";
            var link_elements = list_elements + " a";

            // initiates the timer used for the move animation
            var timer = 0;

            // creates the slide animation for all list elements
            $(list_elements).each(function (i) {
                // margin left = - ([width of element] + [total vertical padding of element])
                $(this).css("margin-left", "-180px");
                // updates timer
                timer = (timer * multiplier + time);
                $(this).animate({ marginLeft: "0" }, timer);
                $(this).animate({ marginLeft: "15px" }, timer);
                $(this).animate({ marginLeft: "0" }, timer);
            });

            // creates the hover-slide effect for all link elements
            $(link_elements).each(function (i) {
                $(this).hover(function () {
                    $(this).stop().animate({ paddingLeft: pad_out }, 150);
                }, function () {
                    $(this).stop().animate({ paddingLeft: pad_in }, 150);
                });
            });
        }
    </script>

}


<!-- Header&Footer_area_start, Don't change it. -->
<div class="bradcam_area breadcam_bg_7 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> &nbsp;Canada Goose</h3>
            </div>
        </div>
    </div>
</div>



<!-- CSS Part -->
<style>
    #map-container {
        width: 100%;
        height: auto;
        max-width: 800px;
        max-height: 600px;
        position: relative;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -400px;
    }

    #map {
        width: 100%;
        height: 600px;
    }

    .popup-card {
        background-color: rgba(43,43,43,0.9);
        border-bottom: 2px solid #2b2b2b;
        border-radius: 3px;
        padding: 15px 15px 10px;
        position: absolute;
        opacity: 0;
        width: 120px;
        margin-left: -65px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Montserrat";
        font-size: 12px;
        line-height: 16px;
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        animation: fadeUp 500ms cubic-bezier(0.51,0.01,0.37,0.98);
        animation-fill-mode: forwards;
    }

        .popup-card:after, .popup-card:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            margin-top: 2px;
        }

        .popup-card:after {
            border-color: transparent;
            border-top-color: #2b2b2b;
            border-width: 6px;
            left: 50%;
            margin-left: -6px;
        }

        .popup-card:before {
            border-color: transparent;
            border-top-color: #2b2b2b;
            border-width: 9px;
            left: 50%;
            margin-left: -9px;
        }

        .popup-card span {
            display: block;
            color: #d4dbe2;
        }

            .popup-card span.country {
                font-size: 14px;
                margin-bottom: 8px;
                color: #fff;
            }

        .popup-card em {
            font-style: normal;
            display: inline-block;
            color: #a3b1bf;
            margin-right: 3px;
        }

    @@keyframes fadeUp {
        0% {
            opacity: 0;
            transform: translateY(-80%);
        }

        100% {
            opacity: 1;
            transform: translateY(-100%);
        }
    }


    .pestname {
        padding-top: 75px;
        padding-bottom: 75px;
        background: #FDF9F6
    }

        .pestname img {
            width: 450px;
            height: auto;
        }

    .pestdescription {
        padding-top: 75px;
        padding-bottom: 75px;
    }

        .pestdescription img {
            width: 450px;
            height: auto;
        }

    .pestorigin {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .pesthalf {
    }

    #navigation_block {
        position: relative;
        top: 200px;
        left: 200px;
    }

    #hide {
        position: absolute;
        top: 30px;
        left: -190px;
    }

    ul#move-navigation {
        position: fixed;
        top: 175px;
        list-style: none;
        font-size: 0.85em;
        margin: 30px 0;
        padding: 0;
    }

        ul#move-navigation li.move-element h3,
        ul#move-navigation li.move-element a {
            display: block;
            width: 150px;
            padding: 5px 18px;
            margin: 0;
            margin-bottom: 5px;
        }

        ul#move-navigation li.move-element h3 {
            color: #fff;
            background-color: #b5b5b5;
            font-weight: initial;
        }

        ul#move-navigation li.move-element a {
            color: #d4dbe2;
            background-color: #808080;
            text-decoration: none;
        }

            ul#move-navigation li.move-element a:hover {
                color: #fff;
            }
</style>

<!--Pest list navigation start-->
<ul id="move-navigation">
    <li class="move-element">
        <h3>Pest List</h3>
    </li>
    <li class="move-element">
        <a href="~/Home/AsianToad">Asian Toad</a>
    </li>
    <li class="move-element">
        <a href="~/Home/BoaConstrictor">Boa Constrictor</a>
    </li>
    <li class="move-element">
        <a href="~/Home/CanadaGoose">Canada Goose</a>
    </li>
    <li class="move-element">
        <a href="~/Home/CaneToad">Cane Toad</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Cat">Feral Cat</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Pig">Feral Pig</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Rabbit">Rabbit</a>
    </li>
    <li class="move-element">
        <a href="~/Home/Fox">Red Fox</a>
    </li>
</ul>
<!--Pest list navigation end-->
<!--Pest image and name-->
<div class="pestname">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/elements/easiantoad.jpg" alt="" />
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>What is an <br />Canada Goose?</h3>
                        <p><b>Common name:</b> xxx</p>
                        <p><b>Scientific name:</b> xxx</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pest image and name end-->
<!--Pest pyhsical description start-->
<div class="pestdescription">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="section_title2 text-center">
                    <h3>What does it look like?</h3>
                    <p>
                        xxx<br>
                        xxx.<br>                       
                        xxx
                    <p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/elements/easiantoad.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<!--Pest physical description end-->
<!--Pest danger start-->
<div class="service_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>What do they harm?</h3>
                    <p>What dangers and damages does Canada Goose cause?</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <img src="~/img/elements/easiantoad.jpg" alt="">
                    </div>
                    <div class="service_content text-center">
                        <h3>Poisonous</h3>
                        <p>xxx</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <img src="~/img/elements/easiantoad.jpg" alt="">
                    </div>
                    <div class="service_content text-center">
                        <h3>Lethal</h3>
                        <p>xxx</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <img src="~/img/elements/easiantoad.jpg" alt="">
                    </div>
                    <div class="service_content text-center">
                        <h3>Biodiversity</h3>
                        <p>xxx</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pest danger end-->
<!--Pest origin start-->
<div class="section_title2 text-center">
    <div class="pestorigin">
        <h3 class="mb-30">Where did they come from?</h3>
        <p>The highlighted areas shows where the Canada Goose originated from.<p>
            <div id="map-container">
                <div id="map">
                    <div class="datamaps-hoverover" style="z-index: 10001; position: absolute; display: none;"></div>
                </div>
            </div>
    </div>
</div>
<!--Pest origin end-->
<!--How they spread + what can you do-->
<div class="pestname">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px text-center">
                        <h3>How did they <br />spread?</h3>
                        <p>
                            xxx <br>
                            xxx<br>
                            xxx
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/elements/easiantoad.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--How they spread + what can you do end-->
<div class="pestdescription">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/img/elements/easiantoad.jpg" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title2 text-center">
                        <h3>What can you do?</h3>
                        <p class="text-left">
                            <br>
                            xxx <br>
                            <b>Email:</b> xxx <br>
                            <b>Call: </b> xxx
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
