<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Know More</h3>
            </div>
        </div>
    </div>
</div>

<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>Who are We?</h3>
                    <h5>A team of four master students that comes from different disciplines within the faculty of IT at Monash University.</h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/me1.jpg" >
                    </div>
                    <div class="member_info text-center">
                        <h3>Zenan Wu</h3>
                        <p>Main Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/Jon.jpg"  style:height="325">
                    </div>
                    <div class="member_info text-center">
                        <h3>Jonathan Chia</h3>
                        <p>Data Analyst</p>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/Lei.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Lei Yang</h3>
                        <p>Business Analyst</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/Rui.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Rui Zhou</h3>
                        <p>Business Analyst</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team_area_end  -->
<!-- testimonial_area  -->
<div class="testimonial_area  ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-40 text-center">
                    <h3>
                        Our Aims
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>I hope this website will be able to track wildlife across Australia in real time and provide information to those in need.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="#" alt="">
                                        </div>
                                        <h3>Zenan Wu</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>I hope that our website is able to raise awareness of pests within the Australian community.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="#" alt="">
                                        </div>
                                        <h3>Jonathan Chia</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>I hope this website can help people in need to learn about the dangers of foreign pests.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="#" alt="">
                                        </div>
                                        <h3>Lei Yang</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Forever Young.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="#" alt="">
                                        </div>
                                        <h3>Rui Zhou</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->