<!-- Header&Footer_area_start, Don't change it. -->
<div class="bradcam_area breadcam_bg_3 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> &nbsp;&nbsp; Fox</h3>
            </div>
        </div>
    </div>
</div>




<div class="service_area">
    <div class="container">
        <div class="section_title text-center mb-55" style="height:80px">
            <h3>What do they harm?</h3>
            <p>What dangers and damages does Red Fox cause?</p>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Damage 1</h3>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/Foxhunting.gif" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 mt-sm-20">
                    <p>
                        546666666666
                    </p>
                </div>
            </div>
        </div>

        <div class="section-top-border">
            <h3 class="mb-30">Damage 2</h3>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/FoxSmall.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 mt-sm-20">
                    <p>
                        546666666666
                    </p>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Damage 3</h3>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/Placenta.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 mt-sm-20">
                    <p>
                        546666666666
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="height:150px">
    <br>
    <br>
    <br>
    <br>
    <div class="section_title text-center mb-55">
        <h3>Relevent News</h3>
        <h5>Relevent News in AU </h5>
    </div>

</div>


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/img/news/foxabc.jpg" alt="">
                                <a class="blog_item_date">
                                    <h3>13</h3>
                                    <p>Sept</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="https://www.abc.net.au/news/science/2020-09-13/foxes-love-the-urban-lifestyle/12616596" target="_blank">
                                    <h2>Foxes in the city and how to live with them</h2>
                                </a>
                                <p>
                                    Ample human rubbish and backyard chooks are just some of the attractions for foxes in urban areas.(Supplied: Michael Cleary).
                                </p>
                                <ul class="blog-info-link">
                                    <li><i class="fa fa-user"></i> ABC NEWS</li>
                                    <li><i class="fa fa-comments"></i> 4M read</li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/img/news/foxnew2.jpg" alt="">
                                <a  class="blog_item_date">
                                    <h3>30</h3>
                                    <p>Jul</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="https://www.abc.net.au/news/2020-07-30/granite-island-penguins-down-to-just-12-birds-thanks-to-foxes/12507458" target="_blank">
                                    <h2>Granite Island penguin population in peril prompting specialists to hunt foxes at night</h2>
                                </a>
                                <p>
                                    Specialists with firearms and night vision will hunt foxes on Granite Island over the coming fortnight in an effort to save what is left of a once burgeoning little penguin population south of Adelaide.
                                </p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> ABC NEWS</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 2M read</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/img/news/foxnew3.jpg" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>17</h3>
                                    <p>Jun</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="https://www.abc.net.au/news/2020-06-17/sydney-news-morning-briefing-wednesday-17-june/12360994" target="_blank">
                                    <h2>Sydney news: UNSW students bitten after trying to pat fox</h2>
                                </a>
                                <p>
                                    UNSW campus staff said it was aware of "several separate incidents" involving students being bitten by a fox.
                                </p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> ABC NEWS</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 2M read</a></li>
                                </ul>
                            </div>
                        </article>



                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">


                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Food</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Resaurant food</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Travel news</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Modern technology</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Product</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Inspiration</p>
                                        <p>21</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Health Care (21)</p>
                                        <p>09</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Body</h3>
                            <div class="media post_item">
                                <img src="img/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_2.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_3.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_4.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">project</a>
                                </li>
                                <li>
                                    <a href="#">love</a>
                                </li>
                                <li>
                                    <a href="#">technology</a>
                                </li>
                                <li>
                                    <a href="#">travel</a>
                                </li>
                                <li>
                                    <a href="#">restaurant</a>
                                </li>
                                <li>
                                    <a href="#">life style</a>
                                </li>
                                <li>
                                    <a href="#">design</a>
                                </li>
                                <li>
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_7.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_8.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_10.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
