<!-- Header&Footer_area_start, Don't change it. -->
<div class="bradcam_area breadcam_bg_3 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> &nbsp;&nbsp; Damage</h3>
            </div>
        </div>
    </div>
</div>




<div class="service_area">
    <div class="container">
        <div class="section_title text-center mb-55" style="height:80px">
            <h3>What do they harm?</h3>
            <p>What dangers do they cause?</p>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Damage 1</h3>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/Foxhunting.gif" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 mt-sm-20">
                    <p>
                        546666666666
                    </p>
                </div>
            </div>
        </div>

        <div class="section-top-border">
            <h3 class="mb-30">Damage 2</h3>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/FoxSmall.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 mt-sm-20">
                    <p>
                        546666666666
                    </p>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Damage 3</h3>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/Placenta.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 mt-sm-20">
                    <p>
                        5466666
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


