<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Pest<br>
                                In<br>
                                Australia
                            </h3>
                            <p>The pest in AU that you never meet.</p><br>
                            <a href="~/Home/About" class="boxed-btn3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Pest<br>
                                In<br>
                                Australia
                            </h3>
                            <p>The pest in AU that you never meet.</p><br>
                            <a href="~/Home/About" class="boxed-btn3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Pest<br>
                                In<br>
                                Australia
                            </h3>
                            <p>The pest in AU that you never meet.</p><br>
                            <a href="~/Home/About" class="boxed-btn3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_4 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Pest<br>
                                In<br>
                                Australia
                            </h3>
                            <p>The pest in AU that you never meet.</p><br>
                            <a href="~/Home/About" class="boxed-btn3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->