<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Pests are<br>
                                Amongst us<br>
                            </h3>
                            <p>Do you wanna know what pests are close to you?.</p><br>
                            <a href="~/Home/Location" class="boxed-btn3">Find Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="slider_text">
                                <h3>
                                    Pest<br>
                                    In<br>
                                    Australia
                                </h3>
                                <p>The pest in AU that you never meet.</p><br>
                                <a href="~/Home/About" class="boxed-btn3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="slider_text">
                                <h3>
                                    Pest<br>
                                    In<br>
                                    Australia
                                </h3>
                                <p>The pest in AU that you never meet.</p><br>
                                <a href="~/Home/About" class="boxed-btn3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_4 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                A Pest?<br>
                                I can't tell!<br>
                            </h3>
                            <p>Learn about pest and how to identify them.</p><br>
                            <a href="~/Home/About" class="boxed-btn3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row">
                <div class="col-md-auto">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VaB9J8JHVxI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col mt-sm-20 d-flex align-items-center">
                    <p>
                        <b>Feral cats</b> are deadly killers that has <b>caused extinction</b> of more than 20 Australian native species. Moreover, these cats <b>threaten the survival</b>
                        of over 100 native spcecies in Australia. Feral cats can <b>carry infectious diseases</b> which can be transmitted to native animals, domestic livestock and humans.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-top-border text-right">
            <div class="row">
                <div class="col-md-9 d-flex align-items-center">
                    <p class="text-right">
                    Australia has been dealing with feral rabbits <b>for over 160 years</b>. These pests causes <b>severe damage to the natural enviroment and to agriculutre</b>. 
                    It is difficult to control these feral rabbits because of welfare and harvesting issues, and because both native and introduced predators feed on feral rabbits in many parts of Australia. 
                    </p>
                </div>
                <div class="col-md-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/778Da7NCF6s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
