<!-- Java Script Part -->
@section scripts{
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/topojson.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/datamaps.world.min.js"></script>
    <script type="text/javascript">
        var Popup = {
            Show: function (geography, data, element, e) {
                e.stopPropagation();

                var el =
                    '<div class="popup-card"> \
                                    <span class="country">' + geography.properties.name + '</span>\
                            </div>';

                var $el = $(el).css({
                    top: e.clientY - 10,
                    left: e.clientX
                });

                Popup.Hide();
                $('body').append($el);
            },

            Hide: function () {
                $('body .popup-card').remove();
            }
        };

        var dataMap = new Datamap({
            element: document.getElementById('map'),
            scope: 'world',
            projection: 'mercator',
            geographyConfig: {
                highlightBorderColor: '#fff',
                highlightBorderWidth: 1,
                highlightFillColor: '#f75455',
                popupOnHover: false
            },

            fills: {
                defaultFill: '#eff0f2',
                gt: '#ed1f24'
            },
            data: {
                AFG: { fillKey: 'gt' },
                ALB: { fillKey: 'gt' },
                AND: { fillKey: 'gt' },
                ARM: { fillKey: 'gt' },
                AUT: { fillKey: 'gt' },
                AZE: { fillKey: 'gt' },
                BGD: { fillKey: 'gt' },
                BLR: { fillKey: 'gt' },
                BEL: { fillKey: 'gt' },
                BTN: { fillKey: 'gt' },
                BIH: { fillKey: 'gt' },
                BRN: { fillKey: 'gt' },
                BGR: { fillKey: 'gt' },
                CHN: { fillKey: 'gt' },
                HRV: { fillKey: 'gt' },
                CYP: { fillKey: 'gt' },
                CZE: { fillKey: 'gt' },
                DNK: { fillKey: 'gt' },
                EST: { fillKey: 'gt' },
                FIN: { fillKey: 'gt' },
                FRA: { fillKey: 'gt' },
                GEO: { fillKey: 'gt' },
                DEU: { fillKey: 'gt' },
                GRC: { fillKey: 'gt' },
                HUN: { fillKey: 'gt' },
                ISL: { fillKey: 'gt' },
                IND: { fillKey: 'gt' },
                IDN: { fillKey: 'gt' },
                IRN: { fillKey: 'gt' },
                IRQ: { fillKey: 'gt' },
                IRL: { fillKey: 'gt' },
                ISR: { fillKey: 'gt' },
                ITA: { fillKey: 'gt' },
                JPN: { fillKey: 'gt' },
                JOR: { fillKey: 'gt' },
                KAZ: { fillKey: 'gt' },
                PRK: { fillKey: 'gt' },
                KOR: { fillKey: 'gt' },
                KWT: { fillKey: 'gt' },
                LAO: { fillKey: 'gt' },
                LVA: { fillKey: 'gt' },
                LBN: { fillKey: 'gt' },
                LIE: { fillKey: 'gt' },
                LTU: { fillKey: 'gt' },
                LUX: { fillKey: 'gt' },
                MYS: { fillKey: 'gt' },
                MDV: { fillKey: 'gt' },
                MLT: { fillKey: 'gt' },
                MCO: { fillKey: 'gt' },
                MNG: { fillKey: 'gt' },
                MNE: { fillKey: 'gt' },
                MMR: { fillKey: 'gt' },
                NPL: { fillKey: 'gt' },
                NLD: { fillKey: 'gt' },
                NOR: { fillKey: 'gt' },
                OMN: { fillKey: 'gt' },
                PAK: { fillKey: 'gt' },
                PHL: { fillKey: 'gt' },
                POL: { fillKey: 'gt' },
                QAT: { fillKey: 'gt' },
                ROU: { fillKey: 'gt' },
                RUS: { fillKey: 'gt' },
                SMR: { fillKey: 'gt' },
                SAU: { fillKey: 'gt' },
                SRB: { fillKey: 'gt' },
                SGP: { fillKey: 'gt' },
                SVK: { fillKey: 'gt' },
                SVN: { fillKey: 'gt' },
                ESP: { fillKey: 'gt' },
                LKA: { fillKey: 'gt' },
                SWE: { fillKey: 'gt' },
                CHE: { fillKey: 'gt' },
                SYR: { fillKey: 'gt' },
                TJK: { fillKey: 'gt' },
                THA: { fillKey: 'gt' },
                TLS: { fillKey: 'gt' },
                TUR: { fillKey: 'gt' },
                TKM: { fillKey: 'gt' },
                UKR: { fillKey: 'gt' },
                ARE: { fillKey: 'gt' },
                GBR: { fillKey: 'gt' },
                UZB: { fillKey: 'gt' },
                VNM: { fillKey: 'gt' },
                YEM: { fillKey: 'gt' },
                DZA: { fillKey: 'gt' },
                EGY: { fillKey: 'gt' },
                LBY: { fillKey: 'gt' },
                MAR: { fillKey: 'gt' },
                TUN: { fillKey: 'gt' },
                SDN: { fillKey: 'gt' }
            },

            done: function (datamap) {
                datamap.svg.selectAll('.datamaps-subunit').on('click', function (geography) {
                    Popup.Show(geography, datamap.options.data[geography.id], this, d3.event);
                });
            }
        });

        $('body').on('click', function (e) {
            Popup.Hide();
        })
            .on('click', '.datamaps-subunit,.popup-card', function (e) {
                e.stopPropagation();
            });
    </script>
}


<!-- Header&Footer_area_start, Don't change it. -->
<div class="bradcam_area breadcam_bg_5 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3> &nbsp;&nbsp; Pig</h3>
            </div>
        </div>
    </div>
</div>

<!-- CSS Part -->
<style>
    #map-container {
        width: 100%;
        height: auto;
        max-width: 800px;
        max-height: 600px;
        position: relative;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -400px;
    }

    #map {
        width: 100%;
        height: 600px;
    }

    .popup-card {
        background-color: rgba(43,43,43,0.9);
        border-bottom: 2px solid #2b2b2b;
        border-radius: 3px;
        padding: 15px 15px 10px;
        position: absolute;
        opacity: 0;
        width: 100px;
        margin-left: -65px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Montserrat";
        font-size: 12px;
        line-height: 16px;
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        animation: fadeUp 500ms cubic-bezier(0.51,0.01,0.37,0.98);
        animation-fill-mode: forwards;
    }

        .popup-card:after, .popup-card:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            margin-top: 2px;
        }

        .popup-card:after {
            border-color: transparent;
            border-top-color: #2b2b2b;
            border-width: 6px;
            left: 50%;
            margin-left: -6px;
        }

        .popup-card:before {
            border-color: transparent;
            border-top-color: #2b2b2b;
            border-width: 9px;
            left: 50%;
            margin-left: -9px;
        }

        .popup-card span {
            display: block;
            color: #d4dbe2;
        }

            .popup-card span.country {
                font-size: 14px;
                margin-bottom: 8px;
                color: #fff;
            }

        .popup-card em {
            font-style: normal;
            display: inline-block;
            color: #a3b1bf;
            margin-right: 3px;
        }

    @@keyframes fadeUp {
        0% {
            opacity: 0;
            transform: translateY(-80%);
        }

        100% {
            opacity: 1;
            transform: translateY(-100%);
        }
    }
</style>


<!-- Body Area Begin -->
<!-- Text_summary -->
<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">What is a Wild Pig</h3>
        <p class="sample-text">
            Some basin information include: Scientic name, common name, food etc.

        </p>
    </div>
</section>

<!-- Left_Text Area -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30">Physical description</h3>
            <div class="row">
                <div class="col-md-5">
                    <img src="~/img/elements/epig1.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-7 mt-sm-20">
                    <p>
                        Feral pigs are smaller, leaner and more muscular than domestic pigs.<br>
                        Feral pigs have longer, larger snouts and tusks, smaller ear and much narrower backs.<br>
                        Tails of feral pigs are usually straight with a bushy tip as compared to curly tails that domestic pigs often have.
                    </p>
                </div>
            </div>
        </div>

        <!-- Right_Text Area -->
        <div class="section-top-border text-right">
            <h3 class="mb-30">How did they spread?</h3>
            <div class="row">
                <div class="col-md-7">
                    <p class="text-right">
                        Present since early European settlement.<br>
                    </p>
                    <p class="text-right">
                        Since then, have spread across 45% of the mainland and several offshore island.
                    </p>
                    <p class="text-right">
                        Spread by natural dispersal, accidental escape and deliberate release.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="~/img/elements/epig2.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>

        <!-- Damage_area_start  -->
        <div class="team_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section_title text-center mb-55">
                            <h3>Dangers</h3>
                            <h5>Damages they cost..</h5>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single_team_member">
                            <div class="team_thumb">
                                <img src="~/img/elements/elamb.jpg">
                            </div>
                            <div class="member_info text-center">
                                <h4>Significant agricultural impact:</h4>
                                <p>Prey on newborn lambs, compete with livestock and damage infrastructure such as fencing and water facilities</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_team_member">
                            <div class="team_thumb">
                                <img src="~/img/elements/edead.jpg" alt="">
                            </div>
                            <div class="member_info text-center">
                                <h4>
                                    Spread serious endemic and exotic diseases that affects commercial pig operations.
                                </h4>
                                <p>These diseases also spread to other animal and humans:</p>
                                <p>Foot and mouth disease virus.</p>
                                <p>African swine fever.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Damage_area_end  -->


        <!-- Conclusion_Text Area -->
        <div class="section-top-border">
            <div class="row">
                <div class="col-md-12 mt-sm-30">
                    <h3 class="mb-20">What can you do?</h3>
                    <div class="">
                        <ol class="ordered-list">
                            <li>
                                <span>Do not approach the feral pig as they are dangerous.</span>
                            </li>
                            <li><span>Refrain from feeding them under any circumstances.</span></li>
                            <li><span>Remain calm, keep a safe distance.</span></li>
                            <li><span>Slowly back away from the wild boar.</span></li>
                            <li><span>When attacked, try to sidestep quickly to avoid being attacked by its tusks.</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- map_area_start -->
        <div class="section-top-border">
            <h3 class="mb-30">Distribution in the World</h3>
            <div id="map-container">
                <div id="map">
                    <br />
                    <div class="datamaps-hoverover" style="z-index: 10001; position: absolute; display: none;"></div>
                </div>
            </div>
        </div>


        <!-- Table_map_area_start -->
        <div class="section-top-border">
            <h3 class="mb-30">Origins</h3>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="country">Countries</div>
                        <div class="visit">Numbers</div>
                        <div class="percentage">Percentages</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">01</div>
                        <div class="country"> <img src="~/img/elements/f1.jpg" alt="flag">Canada</div>
                        <div class="visit">how</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: 80%"
                                     aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">02</div>
                        <div class="country"> <img src="~/img/elements/f2.jpg" alt="flag">US</div>
                        <div class="visit">many</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-2" role="progressbar" style="width: 30%"
                                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">03</div>
                        <div class="country"> <img src="~/img/elements/f3.jpg" alt="flag">British</div>
                        <div class="visit">fox</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-3" role="progressbar" style="width: 55%"
                                     aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">04</div>
                        <div class="country"> <img src="~/img/elements/f4.jpg" alt="flag">Germany</div>
                        <div class="visit">live</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-4" role="progressbar" style="width: 60%"
                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">05</div>
                        <div class="country"> <img src="~/img/elements/f5.jpg" alt="flag">AU</div>
                        <div class="visit">in</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-5" role="progressbar" style="width: 40%"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">06</div>
                        <div class="country"> <img src="~/img/elements/f6.jpg" alt="flag">China</div>
                        <div class="visit">these</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-6" role="progressbar" style="width: 70%"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">07</div>
                        <div class="country"> <img src="~/img/elements/f7.jpg" alt="flag">Japan</div>
                        <div class="visit">country</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-7" role="progressbar" style="width: 30%"
                                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Body_Area_End -->
