    <!-- Layout page start from here-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pest in Bushland</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Import some CSS code -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo2.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEuoMGQisZhS6JaOOBNltBEF12nxiQpL0&callback=initMap">
    </script>

    <!-- Header &  Navigation bar -->
</head>
<body>
    <header>
        <div class="header-area ">
            <div class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="~/Home/Index">
                                    <img src="~/img/logo2.png" alt="" style="width:120px">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a class="active" href="~/Home/Index">home</a></li>
                                                <li><a href="~/Home/Index#timeline-1">History</a></li>
                                                <li>
                                                    <a href="~/Home/About">Introduction<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="~/Home/AsianToad">Asian Toad</a></li>
                                                        <li><a href="~/Home/BoaConstrictor">Boa Constrictor</a></li>
                                                        <li><a href="~/Home/CanadaGoose">Canada Goose</a></li>
                                                        <li><a href="~/Home/CaneToad">Cane Toad</a></li>
                                                        <li><a href="~/Home/Cat">Feral Cat</a></li>
                                                        <li><a href="~/Home/Pig">Feral Pig</a></li>
                                                        <li><a href="~/Home/Rabbit">Rabbit</a></li>
                                                        <li><a href="~/Home/Fox">Red Fox</a></li>
                                                    </ul>
                                                </li>

                                                    <li>
                                                    <a href="~/Home/Damage">Damages</a>
                                                </li>
                                                
                                                <li><a href="~/Home/Location">Map</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <div>
        @RenderBody()
    </div>

    <!-- footer_start  -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-6 col-lg-5 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="~/Home/Index">
                                    <img src="~/img/logo2.png" alt="" style="width:120px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Contact Info
                            </h3>
                            <ul class="links">
                                <li><a href="https://mail.google.com/" target="_blank">pestquest2020@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2  col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <ul class="links">
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2  col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Team
                            </h3>
                            <ul class="links">
                                <li><a href="~/Home/Index#timeline-1">History</a></li>
                                <li><a href="~/Home/About">Introduction</a></li>
                                <li><a href="~/Home/Damage">Damages</a></li>
                                <li><a href="~/Home/Location">Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->
    <!-- JS here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });</script>
    <!-- JS End -->

    @RenderSection("scripts", required: false)
</body>
<!-- Body End -->
</html>

